/*This CSS declarations ensure that the web elements are properly spaced and sized, making the website look organized and more convenient to navigate. */
* 
{
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
  }
  
  a,
  a:visited {
    color: #ff9900;
  }
  
  a:hover {
    color: #000cb3;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 5px;
  }
  
  main {
    width: 80%;
    margin: 0 auto;
  }




article,
form {
  text-align: left;
  min-width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #ccc;
  vertical-align: top;
}

aside {
  color: #ccc;
  text-align: right;
}

/* margin for form box frame */
form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* spacing between each entry box */
.form-group {
  margin-bottom: 20px;
}

/* size of input box */
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* font size for posts */
.message {
  font-size: 1.0em;
  font-family: serif;
  margin: 0;
  padding: 0;
}



/* All of your notifications share the .flash class. */
.flash {
  padding: 10px; /* color box height */
  width: 50%; /* color box width */
  margin: 20px; /* set all around margins around the color box first */
  text-align: center; /* center text */
  margin-left: auto; /* center centerbox */
  margin-right: auto; /* center centerbox */ 

}

.flash.error {
  background-color: #ffa7ae;
  color: #1a0205; /* text color */
}

.flash.success {
  background-color: #96faad;
  color: #1a0205; /* text color */
}





/* Logging button */
#logging {
  position: absolute; /* Make the logout element absolute */
  top: 10px; /* Set top position from the edge */
  right: 10px; /* Set right position from the edge */
}