<!--this navigation menu connects to base.html-->
<!--the concept of template inheritance its used, so that the code is reusable and easier to maintain-->
<nav>
    <ul>
      <li><a href="{{ url_for('pages.home') }}">Home</a></li>
      <li><a href="{{ url_for('pages.about') }}">About</a></li>
      <li><a href="{{ url_for('pages.contact') }}">Contact</a></li>
      <li><a href="{{ url_for('posts.posts') }}">All Posts</a></li>
      <li><a href="{{ url_for('posts.create') }}">Add Post</a></li>
    </ul>
  </nav>


<div id="logging">
  <nav>
    <ul>
      <li><a href="{{ url_for('pages.login') }}">Login</a></li>
      <li><a href="{{ url_for('pages.logout') }}">Logout</a></li>
    </ul>
  </nav>
</div>
